*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}
/* ================header======================== */
header{
    /* background-color: aqua; */
    width: 100%;
    position: relative;
    height: 100px;
    animation: Chang 4s ease infinite;
   

}

nav{
    display: flex;
    /* margin: 14px; */
    
    text-align: justify;
    padding-top: 10px;
    
    padding-left: 70px;
    justify-content: space-around;
}
nav .logo{
    
 margin-top: 25px;  
    
}
nav .logo h1{
    font-size: 45px;
    
    color: blue;
    margin: 0px -35px 0px -45px;
    
}

 nav .logo span{
    font-size: 35px;
    color: #f7783c;
    padding: 10px 38px 0px 0px;
    /* transform: rotate(-45deg); */
    /* letter-spacing: 5px; */
   
    letter-spacing: -35px;
} 

.menu{

    margin: 45px 5px 14px 10px;   

}

.menu ul{
    display: flex;
    list-style: none;
    padding: 0px 0px 0px 520px;
    /* margin-top: 45px; */
    justify-content: space-between;
}
.menu ul .home{
    color: #f7783c;
    
}
.menu ul li {
    font-weight: 700;
    font-size: 16px;
}
.menu ul li a{
    text-decoration: none;
    padding:  15px;

}
.icon{
    padding-right: 40px;
    padding-top: 10px;
}
.icon i {
    padding: 32px 20px;
    font-size: 20px;
}


/*=================Section - 1===================== */

.section-1{
        /* margin: 50px; */
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        animation: Chang 4s ease infinite; 
        overflow: hidden !important;
      
}
@keyframes Chang {
    0%{
        background-color: #3fcea5;
    }
    25% {
      background-color: #11ffbd;
    }
  
    50% {
      background-color: #87f786;
    }
    75% {
      background-color: #07f9b6;
    }
    100% {
      background-color: #aaffa9;
    }
  }



  .section-1 .fresh{
    width: 40%;
    margin-top: 50px;
  }
.section-1 h1{
    font-size: 75px;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section-1 .fresh .del{
    font-weight:lighter;
}
.section-1  .fresh p{
    font-size: 20px;
    padding: 25px 5px;
}
.section-1 .fresh button{
    padding: 12px 36px 14px;
    font-size: 16px;  
    font-weight: bold;
    border: none;
    transition: all 1s ease-in-out;
    background-color: #f7783c;
    color: white;
    border-radius: 30px;
    
}
.section-1 .fresh button:hover{
    background-color: #0abf53;
}

.section-1 .dish {
    margin-top: 50px;
  
    width: 40%;
  }
  .section-1 .dish img {
    margin-top: -55px;
    margin-left: 45px;
    height: auto;
    animation: disc 5s linear infinite;
  }
  
  @keyframes disc {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  /*================ section-2========================== */

.section-2{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    width: 100%;
}
.section-2 .img{
    position: relative;
    width: 40%;  
    margin: 52px;  

}
.section-2  .img .img1{
    height: 100%;
    /* width: 250px; */
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(214, 205, 205);
}
.section-2  .img .img2{
    position: absolute;
    top: 84px;
    left: 233px;
    height: 100%;
    /* width: 250px; */
    border: 8px solid #ffffff;
    border-radius: 10px;
    /* box-shadow: 5px 10px   */
}

.section-2 .para{
    width: 45%;
    margin-top: 50px;
    line-height: 27px;
}
.section-2 h3{
    font-size: 28px;
    font-weight: 100;
    line-height: 60px;
   
}
.section-2 h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}
.section-2 .p1{
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: #060606;
    line-height: 30px;
}
.section-2 .p2{
    margin: 0;
    padding: 0;
   margin-top: 15px;   
    
    font-family: 'Open Sans', sans-serif;
}

.section-2  .img3{
    margin-top: 70px;
   }



/* ================ Section-3=================== */

